* {
    font-family: 'Outfit', sans-serif;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    width: 100%;
    
    max-width: 375px;
    background-color: aqua;
}

.card {
    background-color: brown;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    height: auto;
}

.card-content {
    padding:0px 8px;
}

h1 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 25px;

}

p {
    padding: 0 8px;
    font-size: 15px;
    font-weight: 400;
}